.admin-org {}

.card {
    background-color: transparent;
    color: white;
    box-shadow: 0px 1px 10px var(--shadow);
}

.card-body table {
    color: white;
}

.card-footer .btn {
    color: white;
    margin-right: .5rem;
    border: none;
    font-size: 1.2rem;
}

.card-footer .btn:hover {
    color: var(--primary)
}

.popup-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    overflow: auto;
}

form {
    width: 30rem;
    background-color: white;
    color: black;
    height: fit-content;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.form-control:focus {
    box-shadow: none;
}