.card {
    background-color: transparent;
    color: white;
    box-shadow: 0px 1px 10px var(--shadow);
}

.card-body table {
    color: white;
}

.card-footer .btn {
    color: white;
    margin-right: .5rem;
    border: none;
    font-size: 1.2rem;
}

.popup-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.675);
    color: white;
    display: flex;
    justify-content: center;
    padding: 3rem 0;
    overflow: auto;
}

.addEmpForm {
    width: 30rem;
    background-color: white;
    color: black;
    height: fit-content;
    padding: 1rem 2rem;
    border-radius: .5rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: var(--primary);
}

.search-input {
    background-color: var(--input-bg);
    color: white;
    border-color: var(--icon-color);
}

.search-input::placeholder {
    color: var(--icon-color);

}

td .btn {
    color: white;
    margin-right: .5rem;
    border: none;
    font-size: 1.2rem;
}

td .btn:hover {
    color: var(--primary)
}

.padding {
    padding: 3rem !important
}

.user-card-full {
    overflow: hidden;
}

.card {
    width: 50rem;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
    background: -webkit-gradient(linear, left top, right top, from(var(--primary)), to(var(--secondary)));
    background: linear-gradient(to right, var(--primary), var(--secondary));
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
}

.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}



h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
