<div>
    <div class="login-icon">
        <i *ngIf="stap === 1" class="fa-solid fa-solid fa-user-shield"></i>
        <i *ngIf="stap === 2 " class="fa-solid fa-unlock-keyhole"></i>
    </div>
    <form [formGroup]="authForm" (ngSubmit)="authSubmit(authForm.value)" *ngIf="stap===1">
        <div class="mb-2 input-field">
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-envelope"></i></span>
                <input type="text" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <span *ngIf="authForm.get('email')?.errors?.['required'] && authForm.get('email')?.touched"><small>Field
                    is required</small></span>
            <span *ngIf="authForm.get('email')?.errors?.['email'] && authForm.get('email')?.touched"><small>Please
                    Enter Valid Email</small></span>
        </div>
        <div class="text-center">
            <button class="btn btn-login" [disabled]="authForm.invalid">
                Authenticate
            </button>
        </div>
        <div class="text-center mt-3">
            <a routerLink="" class="btn btn-link text-secondary text-decoration-none">Cancel</a>
        </div>
    </form>
    <form [formGroup]="passwordForm" (ngSubmit)="passwordFormSubmit(passwordForm.value)" *ngIf="stap===2">
        <div class="input-field mb-3 position-relative z-2">
            <div class="input-group position-relative">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                <input [type]="show === password.SHOW?'text':'password'" class="form-control z-0" placeholder="New Password"
                    formControlName="password">
                <button (click)="show === password.SHOW?show=password.HIDE:show=password.SHOW"
                    class="btn text-white btn-show position-absolute end-0" type="button">
                    <i *ngIf="show===password.SHOW" class="fa-sharp fa-solid fa-eye-slash"></i>
                    <i *ngIf="show===password.HIDE" class="fa-solid fa-eye"></i>
                </button>
            </div>
            <span *ngIf="passwordForm.get('password')?.errors?.['required'] && passwordForm.get('password')?.touched"><small>Field is
                    required</small></span>
        <span  class="error-tooltip"
            *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.errors?.['pattern']"><small>Password Should
                Contain 1 Capital Letter, 1 Spacial Character and 1 Number</small></span>
        <span class="text-danger"
            *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.errors?.['minlength'] && !passwordForm.get('password')?.errors?.['pattern']"><small>Password
                Should Contain Minimum 8 Letters</small></span>
        </div>
        <div class="input-field ">
            <div class="input-group position-relative z-1">
                <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-key"></i></span>
                <input [type]="coShow === password.SHOW?'text':'password'" class="form-control z-0" placeholder="Confirm Password"
                    formControlName="confirmPassword">
                <button (click)="coShow === password.SHOW?coShow=password.HIDE:coShow=password.SHOW"
                    class="btn text-white btn-show position-absolute end-0" type="button">
                    <i *ngIf="coShow===password.SHOW" class="fa-sharp fa-solid fa-eye-slash"></i>
                    <i *ngIf="coShow===password.HIDE" class="fa-solid fa-eye"></i>
                </button>
            </div>
            <span *ngIf="passwordForm.get('confirmPassword')?.errors?.['required'] && passwordForm.get('confirmPassword')?.touched"><small>Field is
                    required</small></span>
            <span class="text-danger"
                *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.errors?.['invalid'] && !passwordForm.get('confirmPassword')?.errors?.['required']"><small>Password and Confirm Password dose not matched</small></span>
        </div>
     
        <div class="text-center">
            <button class="btn btn-login" [disabled]="passwordForm.invalid">
                Reset Password
            </button>
        </div>
        <div class="text-center mt-3">
            <a routerLink="" class="btn btn-link text-secondary text-decoration-none">Cancel</a>
        </div>
    </form>
</div>